<div id="lead-content">
  <canvas></canvas>
  <h1>{{lead.name}}</h1>
  <h2>{{lead.position}}</h2>
  <a href="resume.pdf" download class="btn-rounded-white">
    Download Resume
  </a>
</div>
<div class='lead-overlay'>
  <video autoplay loop>
    <source src='background.mp4' type='video/mp4'/>
  </video>
</div>
<div id="lead-down">
  <span onclick={{action 'moveTo'}}>
    <i class="fa fa-chevron-down" aria-hidden="true"></i>
  </span>
</div>
