<h2 class="heading">Skills</h2>
<div class='categories'>
  {{#each skills as |category|}}
    <div class='category'>
      <h3>{{category.name}}</h3>
      <ul>
        {{#each category.keywords as |skill|}}
          <li>{{skill}}</li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
</div>
