<small>app-{{version}} / ember-{{emberVersion}}</small>
<div class="container relative">
  <div class="row social">
    <ul>
      {{#each footer.social.profiles as |profile|}}
        <li>
          <a href={{profile.url}} target='_blank' rel='noopener'>
            <i class="fa {{profile.icon}}" aria-hidden='true'/>
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
